{# templates/public/partenaire.html.twig #}

{% extends 'base.html.twig' %}
{% block title %} {{ title }} {% endblock %}

	{% block body %}
		<h2>Nos Partenaire </h2>
		<section class="row">
			{% for article in partenaire %}
				<article class="col-md-3">
				      <ul>
						<li>{{ article.nosPartenaire }}</li>
						<li>{{ article.association }}</li>						
						<li><img src="{{ asset('img/partenaire/')}}{{article.photoPartenaire}}" class="img-fluid"></li>					
					</ul>
				</article>				
			{% endfor %}
			</section>

	{{ form_start(form) }}

	<div class="form-group">
	{{ form_row(form.email, 
								 {attr: {class: 'form-control'}}) }}</div>
	<div class="form-group">
	{{ form_row(form.password.first, 
							 {attr: {class: 'form-control'}}) }}</div>
	<div class="form-group">
	{{ form_row(form.password.second, 
							 {attr: {class: 'form-control'}}) }}</div>

	<div class="form-group">
		{{ form_row(form.adressePartenaire,
		                      {attr: {class: 'form-control'}}) }}</div>
    <div class="from-group">
    	{{ form_row(form.cpPartenaire,
    	                        {attr: {class: 'form-control'}}) }}</div>

    <div class="from-group">
    	{{ form_row(form.villePartenaire,
    	                        {attr: {class: 'form-control'}}) }}</div>

     <div class="from-group">
    	{{ form_row(form.telPartenaire,
    	                        {attr: {class: 'form-control'}}) }}</div>
      <div class="from-group">
    	{{ form_row(form.civilitePartenaire,
    	                        {attr: {class: 'form-control'}}) }}</div>
	<div class="form-group text-center">
		<button type="submit" class="btn btn-success">Valider</button></div>
	{{ form_end(form) }}

{% endblock %}
		
