{# templates/professionnel.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Professionnel {% endblock %}


{% block body %}

	<br>
	<h2>Profile Professionnel</h2>
	<br>

<div class="alert alert-secondary" role="alert">
	<h4>Vous êtes bien connecté {{ app.membre.username }}  <i class="fas fa-user"></i> </h4>
	<p><strong>Votre siret:</strong> {{ app.membre.siret }}</p>
	<p><strong>Votre email:</strong> {{ app.membre.email }}</p>
	<p><strong>Votre adresse:</strong> {{ app.membre.adresse }} {{ app.membre.cp }} {{ app.membre.ville }}</p>
	<p><strong>Votre téléphone:</strong> {{ app.membre.tel }}</p>
	
	{# Formulaire produit #}

	<br><br>
	<h2 class="text-center">Proposer un don</h2>
	<br>

	{{ form_start(form) }}
	<div class="form-group">
	{{ form_row(form.description, 
							{attr: {class: 'form-control'}}) }}
	</div>

	<div class="form-group">
	{{ form_row(form.dateEntree, 
							{attr: {class: 'form-control'}}) }}
	</div>

	<div class="form-group" id="reserver">
	{{ form_row(form.reserver, 
							{attr: {class: 'form-control'}}) }}
	</div>
	
	<div class="form-group">
	{{ form_row(form.heureCollecte, 
							{attr: {class: 'form-control'}}) }}
	</div>

	</div>
	<div class="form-group text-center">
		<button type="submit" class="btn btn-dark">Valider</button>
	</div>
	{{ form_end(form) }}
	<br>

</div>


{% endblock %}