{# templates/profil.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

	{# Profil professionnel #}

	{% if app.user.statut == 'p' %}

		<div id="backgroundProfil">
			<div class="container" id="profilProf">

				<h2>Espace Professionnels</h2>

				<div class="card">
					<div class="row">

						<article class="col-md-5">
							<img src="{{ asset('images/prof.jpg') }}" alt="Professionnels">
						</article>
					
						<article class="col-md-7">
							<div class="card-body">
								<h5 class="card-title text-center">{{ app.user.raisonsocial }}<i class="fas fa-user"></i></h5>
								<hr>
							    <div class="card-text">
							    	<p><strong>Numéro SIRET :</strong> {{ app.user.siret }}</p>
									<p><strong>Email :</strong> {{ app.user.email }}</p>
									<p><strong>Adresse :</strong> {{ app.user.adresse }}</p> 
									<p><strong>Code Postal :</strong> {{ app.user.cp }}</p>
									<p><strong>Ville :</strong> {{ app.user.ville }}</p>
									<p><strong>Téléphone :</strong> {{ app.user.tel }}</p>
								</div>
							</div>
						</article>
					</div>
				</div>

			</div>
		</div>
		
		{# Formulaire produit #}
		
		<div class="container" id="don">
			<div class="row">
				<div class="col-sm-8">

				<h2 class="text-center">Proposer un don</h2>
				<br>

				{{ form_start(formDon) }}

				<fieldset>

				<div class="form-group" rows="10">
				{{ form_row(formDon.description, 
										{attr: {class: 'form-control'}}) }}
				</div>

				<div class="form-group">
					<div class="form-check form-check-inline" id="date">
					{{ form_row(formDon.dateEntree) }}
					</div>
				</div>

				<div class="form-group">
				{{ form_row(formDon.commentaires, 
										{attr: {class: 'form-control'}}) }}
				</div>

				</fieldset>
				
				<div class="form-group text-center">
					<button type="submit" class="btn btn-defeault btn-send">Valider</button>
				</div>

				{{ form_end(formDon) }}

				</div>
			</div> 
		</div> 

	{# Profil association #}

	{% elseif app.user.statut == 'a' %}

		<div id="backgroundProfil">
			<div class="container" id="profilAssos">

				<h2>Espace Association</h2>

				<div class="card">
					<div class="row">

						<article class="col-md-5">
							<img src="{{ asset('images/asso.jpg') }}" alt="Associations">
						</article>
					
						<article class="col-md-7">
							<div class="card-body">
								<h5 class="card-title text-center">{{ app.user.raisonsocial }}<i class="fas fa-user"></i></h5>
								<hr>
							    <div class="card-text">
							    	<p><strong>Numéro SIRET :</strong> {{ app.user.siret }}</p>
									<p><strong>Email :</strong> {{ app.user.email }}</p>
									<p><strong>Adresse :</strong> {{ app.user.adresse }}</p> 
									<p><strong>Code Postal :</strong> {{ app.user.cp }}</p>
									<p><strong>Ville :</strong> {{ app.user.ville }}</p>
									<p><strong>Téléphone :</strong> {{ app.user.tel }}</p>
								</div>
							</div>
						</article>
					</div>
				</div>

			</div>
		</div>

		{# Formulaire recherche #}

		<div class="container" id="recherche">
			<div class="row">
				<div class="col-sm-8">

					<h2 class="text-center">Rechercher un don</h2>

					{% if listeVille %}

					{{ form_start(formRecherche) }}

					<fieldset>

					<div class="form-group">
					{{ form_row(formRecherche.ville, {attr: {class: 'form-control'}}) }}
					</div>

					</fieldset>

					<div class="form-group text-center">
					<button type="submit" class="btn btn-defeault btn-send">Valider</button>
					</div>

					{{ form_end(formRecherche) }}

					{% else %}
					<p class="alert alert-danger text-center">Aucun don n'est actuellement disponible</p>
					{% endif %}

				</div>
			</div> 
		</div>
	
	{% endif %}

{% endblock %}